<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551746949832-7d40km3qlusm06pqkqu3ovft8843du0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551746949832-7d40km3qlusm06pqkqu3ovft8843du0r</string>
	<key>API_KEY</key>
	<string>AIzaSyC5ldXFz7KWl1g5J_q1Lvae_eU6IVQ6M8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>551746949832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AHS-2021.arTest</string>
	<key>PROJECT_ID</key>
	<string>imageupload-26596</string>
	<key>STORAGE_BUCKET</key>
	<string>imageupload-26596.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:551746949832:ios:a0561e75ea1c0172668bfd</string>
</dict>
</plist>
